<% if @video_url %>
  <video controls>
    <source src="<%= @video_url %>" type="video/webm">
    Your browser does not support the video tag.
  </video>
<% else %>
  <p>Video is unavailable</p>
<% end %>
